.question-answer {
  padding-bottom: 160px;
  @include laptop {
    padding-bottom: 140px;
  }
  @include laptop-min {
    padding-bottom: 100px;
  }
  @include tablet {
    padding-bottom: 80px;
  }
  &__title {
    margin: 0px 0px 60px 0px;
    @include tablet {
      margin-bottom: 50px;
    }
  }
  &__spollers {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  &__spoller {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  &__spoller-btn {
    position: relative;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 25px 0px;
    width: 100%;
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 30px;
      height: 1px;
      right: 0;
      background-color: var(--emperor);
    }
    &::after {
      transform: rotate(90deg);
      transition: transform 0.3s ease;
    }
    &._spoller-active {
      &::after {
        transform: rotate(0);
      }
    }
    @include tablet {
      padding: 18px 0px;
      &::after, &::before {
        width: 25px;
      }
    }
  }
  &__spoller-number {
    flex: 0 1 230px;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: -0.015em;
    color: var(--emperor);
    @include tablet {
      font-size: 16px;
      flex-basis: 40px;
    }
  }
  &__spoller-title {
    flex: 1;
    font-size: 24px;
    line-height: 120%;
    padding-right: 45px;
    @include laptop {
      font-size: 20px;
    }
    @include tablet {
      font-size: 18px;
    }
    @include mobile {
      padding-right: 50px;
    }
  }
  &__spoller-item {
    padding: 10px 0px 30px 0px;
  }
  &__spoller-content {
    margin: 0;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.015em;
    color: var(--emperor);
    @include tablet {
      font-size: 16px;
    }
  }
}
