<section class="cases">
  <div class="container">
    <div class="cases__header">
      <h2 class="title title-2 cases__title">Кейсы</h2>
      <div class="slider-nav">
        <button class="btn slider-nav__btn cases__slider-btn cases__slider-prev">
          <svg class="slider-nav__icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
          </svg>
        </button>
        <button class="btn slider-nav__btn cases__slider-btn cases__slider-next">
          <svg class="slider-nav__icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper cases__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="@img/pictures/case.jpg" alt="Кейс" class="cases__slide-img" />
          <h3 class="cases__slide-title">Sed ut perspiciatis unde omnis</h3>
          <p class="cases__slide-content">
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
          </p>
          <a href="#" class="btn-arrow cases__slide-btn">
            Читать далее
            <svg class="btn-arrow__icon">
              <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
            </svg>
          </a>
        </div>
        <div class="swiper-slide">
          <img src="@img/pictures/case.jpg" alt="Кейс" class="cases__slide-img" />
          <h3 class="cases__slide-title">Sed ut perspiciatis unde omnis</h3>
          <p class="cases__slide-content">
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
          </p>
          <a href="#" class="btn-arrow cases__slide-btn">
            Читать далее
            <svg class="btn-arrow__icon">
              <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
            </svg>
          </a>
        </div>
        <div class="swiper-slide">
          <img src="@img/pictures/case.jpg" alt="Кейс" class="cases__slide-img" />
          <h3 class="cases__slide-title">Sed ut perspiciatis unde omnis</h3>
          <p class="cases__slide-content">
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
          </p>
          <a href="#" class="btn-arrow cases__slide-btn">
            Читать далее
            <svg class="btn-arrow__icon">
              <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
