<section class="director">
  <div class="container">
    <h2 class="title title-2 director__title">КУЗНЕЦОВ ДМИТРИЙ МИХАЙЛОВИЧ</h2>
    <div class="director__body">
      <img src="@img/pictures/director.jpg" alt="Директор" class="director__img" />
      <div class="director__info">
        <div class="director__wrapper">
          <p class="director__content">
            Собственник и руководитель аудиторско-консалтинговой группы «1.2.3. Консалтинг групп»
            (топ-50 среди крупнейших АКГ России по итогам 2021 года), аудитор, бизнес-консультант со
            стажем более 20 лет. <br />
            <br />
            Вице-президент Аудиторской палаты Санкт-Петербурга, зам.председателя Совета
            Северо-западного территориального округа Саморегулируемой организации аудиторов
            "Содружество". <br />
            <br />
            1997 год окончил Санкт-Петербургский Торгово-Экономический институт, специальность
            Бухгалтерский учет и аудит. <br />
            <br />
            В 2022 году закончил программу Executive MBA бизнес-школы Синергия
          </p>
          <div class="director__residence">
            <h4 class="director__residence-title">Резидентство в клубах:</h4>
            <ul class="list director__residence-list">
              <li class="director__residence-item">Бизнес-клуб Атланты Synergy business club</li>
              <li class="director__residence-item">Клуб «Деловые Петербуржцы»</li>
              <li class="director__residence-item">
                Сообщество инвесторов и предпринимателей «Время первых»
              </li>
            </ul>
          </div>
        </div>
        <button class="btn btn-arrow _fill director__btn">
          Связаться с собственником
          <svg class="btn-arrow__icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
