<footer class="footer" id="contacts">
  <div class="container">
    <div class="footer__top">
      <a href="index.html" class="footer__logo">
        <img src="@img/logos/logo.png" alt="Логотип" class="footer__logo-img" />
      </a>
      <div class="footer__contacts">
        <div class="footer__time">
          <svg class="footer__icon-time">
            <use xlink:href="img/icons/icons.svg#icon-time"></use>
          </svg>
          <div>
            <time class="footer__time-content">09:00 - 18:00</time>
            <p class="footer__time-days">пн вт ср чт пт <span>сб вс</span></p>
          </div>
        </div>
        <div class="footer__number-item">
          <span class="footer__city">Санкт-Петербург</span>
          <a href="tel:+78125650570" class="footer__number">
            <svg class="footer__icon-number">
              <use xlink:href="img/icons/icons.svg#icon-tel"></use>
            </svg>
            +7 (812) 565-05-70
          </a>
        </div>
        <div class="footer__number-item">
          <span class="footer__city">Санкт-Петербург</span>
          <a href="tel:+78125650570" class="footer__number">
            <svg class="footer__icon-number">
              <use xlink:href="img/icons/icons.svg#icon-tel"></use>
            </svg>
            +7 (812) 565-05-70
          </a>
        </div>
        <a href="mailto:email@mail.ru" class="footer__email">почта@почта.ру</a>
      </div>
      <ul class="list footer__social">
        <li>
          <a href="#" class="footer__social-btn">
            <img src="@img/icons/whats.svg" alt="whatsapp" class="footer__social-icon" />
          </a>
        </li>
        <li>
          <a href="#" class="footer__social-btn">
            <img src="@img/icons/tg.svg" alt="telegram" class="footer__social-icon" />
          </a>
        </li>
      </ul>
    </div>
    <nav class="footer__nav">
      <ul class="list footer__nav-list">
        <li>
          <a href="#services">Услуги</a>
        </li>
        <li>
          <a href="#about">О нас</a>
        </li>
        <li>
          <a href="#reviews">Отзывы</a>
        </li>
        <li>
          <a href="#question-answer">Вопрос-ответ</a>
        </li>
        <li>
          <a href="#contacts">Контакты</a>
        </li>
        <li>
          <a href="#calculator">Калькулятор</a>
        </li>
      </ul>
    </nav>
    <div class="footer__bottom">
      <ul class="list footer__bottom-list">
        <li>
          <a href="#">Оферта</a>
        </li>
        <li>
          <a href="#">Блог</a>
        </li>
      </ul>
      <p class="footer__bottom-content">
        © 2007-2023 | I.II.III. Legal services | I.II.III. Consulting Group | ООО «НВК-консалт»
      </p>
    </div>
  </div>
</footer>
