<section class="hero">
  <div class="container hero__container">
    <img src="@img/pictures/hero.jpg" alt="Изображение" class="hero__img" />
    <div class="hero__info">
      <h1 class="title hero__title">
        Бухгалтерское сопровождение бизнеса с юридической поддержкой
      </h1>
      <div class="hero__info-bottom">
        <p class="hero__info-content">Оставьте ваш контакт и мы перезвоним вам через 5 минут</p>
        <form action="#" class="form hero__form">
          <div class="form__item hero__form-item">
            <input type="tel" placeholder="Номер телефона" name="tel" class="form__input" />
          </div>
          <div class="form__item hero__form-item">
            <input type="email" placeholder="Email" name="email" class="form__input" />
          </div>
          <button type="submit" class="btn btn-primary form__btn hero__form-btn">
            Заказать звонок
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
