<section class="news">
  <div class="container">
    <div class="news__header">
      <h2 class="title title-2 news__title">Новости и статьи</h2>
      <div class="slider-nav">
        <button class="btn slider-nav__btn news__slider-btn news__slider-prev">
          <svg class="slider-nav__icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
          </svg>
        </button>
        <button class="btn slider-nav__btn news__slider-btn news__slider-next">
          <svg class="slider-nav__icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper news__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide news__slide">
          <img src="@img/pictures/case.jpg" alt="Изображение" class="news__slide-img" />
          <h5 class="news__slide-title">Sed ut perspiciatis unde omnis</h5>
          <p class="news__slide-content">
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
            quisquam est, qui dolorem.
          </p>
          <a href="#" class="btn-arrow news__slide-btn"
            >Читать дальше
            <svg class="btn-arrow__icon">
              <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
            </svg>
          </a>
        </div>
        <div class="swiper-slide news__slide">
          <img src="@img/pictures/case.jpg" alt="Изображение" class="news__slide-img" />
          <h5 class="news__slide-title">Sed ut perspiciatis unde omnis</h5>
          <p class="news__slide-content">
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
            consequuntur magni dolores eos qui ratione voluptatem sequi
          </p>
          <a href="#" class="btn-arrow news__slide-btn"
            >Читать дальше
            <svg class="btn-arrow__icon">
              <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
            </svg>
          </a>
        </div>
        <div class="swiper-slide news__slide">
          <img src="@img/pictures/case.jpg" alt="Изображение" class="news__slide-img" />
          <h5 class="news__slide-title">Sed ut perspiciatis unde omnis</h5>
          <p class="news__slide-content">
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
            quisquam est, qui dolorem.
          </p>
          <a href="#" class="btn-arrow news__slide-btn"
            >Читать дальше
            <svg class="btn-arrow__icon">
              <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
