<div class="our-services">
  <div class="container">
    <h2 class="title title-2 our-services__title">Наши услуги</h2>
    <div data-spollers data-one-spoller class="our-services__spollers">
      <div class="our-services__spoller">
        <button data-spoller class="btn our-services__spoller-btn">
          <span class="our-services__spoller-number">01.</span>
          <span class="our-services__spoller-title">Бухгалтерские услуги</span>
        </button>
        <div class="our-services__spoller-item">
          <div class="our-services__spoller-wrapper">
            <img
              src="@img/pictures/spoller.jpg"
              alt="Изображение"
              class="our-services__spoller-img"
            />
            <div class="our-services__spoller-info">
              <ul class="list our-services__spoller-list">
                <li class="our-services__spoller-list-item">Регистрация бизнеса;</li>
                <li class="our-services__spoller-list-item">
                  Подготовка пакета необходимой документации: устав, кадровые документы, локальные
                  нормативные акты;
                </li>
                <li class="our-services__spoller-list-item">Открытие счетов;</li>
                <li class="our-services__spoller-list-item">Договор аренды;</li>
                <li class="our-services__spoller-list-item">Настройка банк-клиента;</li>
                <li class="our-services__spoller-list-item">Платежи;</li>
                <li class="our-services__spoller-list-item">Договоры с контрагентами;</li>
                <li class="our-services__spoller-list-item">Сдача отчетности;</li>
                <li class="our-services__spoller-list-item">
                  Взаимодействие с контролирующими органами.
                </li>
              </ul>
              <p class="our-services__spoller-content">
                Берем на себя все непрофильные функции: подбор персонала, бухгалтерский и налоговый
                учет, юридическое сопровождение, кадры.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="our-services__spoller">
        <button data-spoller class="btn our-services__spoller-btn">
          <span class="our-services__spoller-number">02.</span>
          <span class="our-services__spoller-title">Аудиторские и комплексные услуги</span>
        </button>
        <div class="our-services__spoller-item">
          <div class="our-services__spoller-wrapper">
            <img
              src="@img/pictures/spoller.jpg"
              alt="Изображение"
              class="our-services__spoller-img"
            />
            <div class="our-services__spoller-info">
              <ul class="list our-services__spoller-list">
                <li class="our-services__spoller-list-item">Регистрация бизнеса;</li>
                <li class="our-services__spoller-list-item">
                  Подготовка пакета необходимой документации: устав, кадровые документы, локальные
                  нормативные акты;
                </li>
                <li class="our-services__spoller-list-item">Открытие счетов;</li>
                <li class="our-services__spoller-list-item">Договор аренды;</li>
                <li class="our-services__spoller-list-item">Настройка банк-клиента;</li>
                <li class="our-services__spoller-list-item">Платежи;</li>
                <li class="our-services__spoller-list-item">Договоры с контрагентами;</li>
                <li class="our-services__spoller-list-item">Сдача отчетности;</li>
                <li class="our-services__spoller-list-item">
                  Взаимодействие с контролирующими органами.
                </li>
              </ul>
              <p class="our-services__spoller-content">
                Берем на себя все непрофильные функции: подбор персонала, бухгалтерский и налоговый
                учет, юридическое сопровождение, кадры.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="our-services__spoller">
        <button data-spoller class="btn our-services__spoller-btn">
          <span class="our-services__spoller-number">03.</span>
          <span class="our-services__spoller-title">Юридические услуги</span>
        </button>
        <div class="our-services__spoller-item">
          <div class="our-services__spoller-wrapper">
            <img
              src="@img/pictures/spoller.jpg"
              alt="Изображение"
              class="our-services__spoller-img"
            />
            <div class="our-services__spoller-info">
              <ul class="list our-services__spoller-list">
                <li class="our-services__spoller-list-item">Регистрация бизнеса;</li>
                <li class="our-services__spoller-list-item">
                  Подготовка пакета необходимой документации: устав, кадровые документы, локальные
                  нормативные акты;
                </li>
                <li class="our-services__spoller-list-item">Открытие счетов;</li>
                <li class="our-services__spoller-list-item">Договор аренды;</li>
                <li class="our-services__spoller-list-item">Настройка банк-клиента;</li>
                <li class="our-services__spoller-list-item">Платежи;</li>
                <li class="our-services__spoller-list-item">Договоры с контрагентами;</li>
                <li class="our-services__spoller-list-item">Сдача отчетности;</li>
                <li class="our-services__spoller-list-item">
                  Взаимодействие с контролирующими органами.
                </li>
              </ul>
              <p class="our-services__spoller-content">
                Берем на себя все непрофильные функции: подбор персонала, бухгалтерский и налоговый
                учет, юридическое сопровождение, кадры.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="our-services__spoller">
        <button data-spoller class="btn our-services__spoller-btn">
          <span class="our-services__spoller-number">04.</span>
          <span class="our-services__spoller-title">Стартапы</span>
        </button>
        <div class="our-services__spoller-item">
          <div class="our-services__spoller-wrapper">
            <img
              src="@img/pictures/spoller.jpg"
              alt="Изображение"
              class="our-services__spoller-img"
            />
            <div class="our-services__spoller-info">
              <ul class="list our-services__spoller-list">
                <li class="our-services__spoller-list-item">Регистрация бизнеса;</li>
                <li class="our-services__spoller-list-item">
                  Подготовка пакета необходимой документации: устав, кадровые документы, локальные
                  нормативные акты;
                </li>
                <li class="our-services__spoller-list-item">Открытие счетов;</li>
                <li class="our-services__spoller-list-item">Договор аренды;</li>
                <li class="our-services__spoller-list-item">Настройка банк-клиента;</li>
                <li class="our-services__spoller-list-item">Платежи;</li>
                <li class="our-services__spoller-list-item">Договоры с контрагентами;</li>
                <li class="our-services__spoller-list-item">Сдача отчетности;</li>
                <li class="our-services__spoller-list-item">
                  Взаимодействие с контролирующими органами.
                </li>
              </ul>
              <p class="our-services__spoller-content">
                Берем на себя все непрофильные функции: подбор персонала, бухгалтерский и налоговый
                учет, юридическое сопровождение, кадры.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="our-services__spoller">
        <button data-spoller class="btn our-services__spoller-btn">
          <span class="our-services__spoller-number">05.</span>
          <span class="our-services__spoller-title">Подбор персонала и кадры</span>
        </button>
        <div class="our-services__spoller-item">
          <div class="our-services__spoller-wrapper">
            <img
              src="@img/pictures/spoller.jpg"
              alt="Изображение"
              class="our-services__spoller-img"
            />
            <div class="our-services__spoller-info">
              <ul class="list our-services__spoller-list">
                <li class="our-services__spoller-list-item">Регистрация бизнеса;</li>
                <li class="our-services__spoller-list-item">
                  Подготовка пакета необходимой документации: устав, кадровые документы, локальные
                  нормативные акты;
                </li>
                <li class="our-services__spoller-list-item">Открытие счетов;</li>
                <li class="our-services__spoller-list-item">Договор аренды;</li>
                <li class="our-services__spoller-list-item">Настройка банк-клиента;</li>
                <li class="our-services__spoller-list-item">Платежи;</li>
                <li class="our-services__spoller-list-item">Договоры с контрагентами;</li>
                <li class="our-services__spoller-list-item">Сдача отчетности;</li>
                <li class="our-services__spoller-list-item">
                  Взаимодействие с контролирующими органами.
                </li>
              </ul>
              <p class="our-services__spoller-content">
                Берем на себя все непрофильные функции: подбор персонала, бухгалтерский и налоговый
                учет, юридическое сопровождение, кадры.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="our-services__spoller">
        <button data-spoller class="btn our-services__spoller-btn">
          <span class="our-services__spoller-number">06.</span>
          <span class="our-services__spoller-title">Разовые услуги</span>
        </button>
        <div class="our-services__spoller-item">
          <div class="our-services__spoller-wrapper">
            <img
              src="@img/pictures/spoller.jpg"
              alt="Изображение"
              class="our-services__spoller-img"
            />
            <div class="our-services__spoller-info">
              <ul class="list our-services__spoller-list">
                <li class="our-services__spoller-list-item">Регистрация бизнеса;</li>
                <li class="our-services__spoller-list-item">
                  Подготовка пакета необходимой документации: устав, кадровые документы, локальные
                  нормативные акты;
                </li>
                <li class="our-services__spoller-list-item">Открытие счетов;</li>
                <li class="our-services__spoller-list-item">Договор аренды;</li>
                <li class="our-services__spoller-list-item">Настройка банк-клиента;</li>
                <li class="our-services__spoller-list-item">Платежи;</li>
                <li class="our-services__spoller-list-item">Договоры с контрагентами;</li>
                <li class="our-services__spoller-list-item">Сдача отчетности;</li>
                <li class="our-services__spoller-list-item">
                  Взаимодействие с контролирующими органами.
                </li>
              </ul>
              <p class="our-services__spoller-content">
                Берем на себя все непрофильные функции: подбор персонала, бухгалтерский и налоговый
                учет, юридическое сопровождение, кадры.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="our-services__bottom">
      <button class="btn our-services__btn">
        Перезвоните мне
        <svg class="our-services__btn-icon">
          <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
