<section class="personal-responsibility">
  <div class="container">
    <div class="personal-responsibility__header">
      <h2 class="title title-2 personal-responsibility__title">Персональная ответственность</h2>
    </div>
    <div class="swiper personal-responsibility__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide personal-responsibility__slide">
          <img
            src="@img/pictures/personal.jpg"
            alt="Изображение"
            class="personal-responsibility__slide-img"
          />
          <h5 class="personal-responsibility__slide-name">Чайникова Екатерина Павловна</h5>
          <p class="personal-responsibility__slide-status">
            Специалист отдела бухгалтерского сопровождения
          </p>
        </div>
        <div class="swiper-slide personal-responsibility__slide">
          <img
            src="@img/pictures/personal.jpg"
            alt="Изображение"
            class="personal-responsibility__slide-img"
          />
          <h5 class="personal-responsibility__slide-name">Чайникова Екатерина Павловна</h5>
          <p class="personal-responsibility__slide-status">
            Специалист отдела бухгалтерского сопровождения
          </p>
        </div>
        <div class="swiper-slide personal-responsibility__slide">
          <img
            src="@img/pictures/personal.jpg"
            alt="Изображение"
            class="personal-responsibility__slide-img"
          />
          <h5 class="personal-responsibility__slide-name">Чайникова Екатерина Павловна</h5>
          <p class="personal-responsibility__slide-status">
            Специалист отдела бухгалтерского сопровождения
          </p>
        </div>
        <div class="swiper-slide personal-responsibility__slide">
          <img
            src="@img/pictures/personal.jpg"
            alt="Изображение"
            class="personal-responsibility__slide-img"
          />
          <h5 class="personal-responsibility__slide-name">Чайникова Екатерина Павловна</h5>
          <p class="personal-responsibility__slide-status">
            Специалист отдела бухгалтерского сопровождения
          </p>
        </div>
        <div class="swiper-slide personal-responsibility__slide">
          <img
            src="@img/pictures/personal.jpg"
            alt="Изображение"
            class="personal-responsibility__slide-img"
          />
          <h5 class="personal-responsibility__slide-name">Чайникова Екатерина Павловна</h5>
          <p class="personal-responsibility__slide-status">
            Специалист отдела бухгалтерского сопровождения
          </p>
        </div>
        <div class="swiper-slide personal-responsibility__slide">
          <img
            src="@img/pictures/personal.jpg"
            alt="Изображение"
            class="personal-responsibility__slide-img"
          />
          <h5 class="personal-responsibility__slide-name">Чайникова Екатерина Павловна</h5>
          <p class="personal-responsibility__slide-status">
            Специалист отдела бухгалтерского сопровождения
          </p>
        </div>
        <div class="swiper-slide personal-responsibility__slide">
          <img
            src="@img/pictures/personal.jpg"
            alt="Изображение"
            class="personal-responsibility__slide-img"
          />
          <h5 class="personal-responsibility__slide-name">Чайникова Екатерина Павловна</h5>
          <p class="personal-responsibility__slide-status">
            Специалист отдела бухгалтерского сопровождения
          </p>
        </div>
        <div class="swiper-slide personal-responsibility__slide">
          <img
            src="@img/pictures/personal.jpg"
            alt="Изображение"
            class="personal-responsibility__slide-img"
          />
          <h5 class="personal-responsibility__slide-name">Чайникова Екатерина Павловна</h5>
          <p class="personal-responsibility__slide-status">
            Специалист отдела бухгалтерского сопровождения
          </p>
        </div>
        <div class="swiper-slide personal-responsibility__slide">
          <img
            src="@img/pictures/personal.jpg"
            alt="Изображение"
            class="personal-responsibility__slide-img"
          />
          <h5 class="personal-responsibility__slide-name">Чайникова Екатерина Павловна</h5>
          <p class="personal-responsibility__slide-status">
            Специалист отдела бухгалтерского сопровождения
          </p>
        </div>
      </div>
    </div>
    <div data-da=".personal-responsibility__header, 767, 1" class="slider-nav">
      <button class="btn slider-nav__btn personal-responsibility__slider-prev">
        <svg class="slider-nav__icon">
          <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
        </svg>
      </button>
      <button class="btn slider-nav__btn personal-responsibility__slider-next">
        <svg class="slider-nav__icon">
          <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
