<section class="question-answer">
  <div class="container">
    <h2 class="title title-2 question-answer__title">Вопрос ответ</h2>
    <div data-spollers data-one-spoller class="question-answer__spollers">
      <div class="question-answer__spoller">
        <button data-spoller class="btn question-answer__spoller-btn">
          <span class="question-answer__spoller-number">01.</span>
          <span class="question-answer__spoller-title"
            >Из чего складывается стоимость ведения бухгалтерии?</span
          >
        </button>
        <div class="question-answer__spoller-item">
          <p class="question-answer__spoller-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita possimus quasi quos
            hic provident facilis laudantium beatae veniam recusandae corporis accusantium iusto
            quae impedit, officiis, voluptatum odit aliquam? Velit dicta molestias rerum cumque
            porro nobis eum cupiditate mollitia. Nulla mollitia asperiores fuga explicabo vero
            aliquid? Soluta voluptas ipsa voluptatum facere ipsum dignissimos consectetur culpa iure
            ipsam. Optio, vel modi! Ipsa autem excepturi fugiat quibusdam omnis est dolores
            perspiciatis minima quia doloremque eveniet praesentium, corrupti architecto
            consectetur! Nostrum, nam iure! Ipsam, maxime corporis. Odio adipisci quaerat doloremque
            molestias iste. Sed debitis obcaecati dolorum cupiditate facilis aspernatur atque enim
            ad quisquam quos.
          </p>
        </div>
      </div>
      <div class="question-answer__spoller">
        <button data-spoller class="btn question-answer__spoller-btn">
          <span class="question-answer__spoller-number">02.</span>
          <span class="question-answer__spoller-title"
            >Если оставить одного бухгалтера у себя, для внутренних поручений, а основной процесс
            отдать на аутсорсинг, это снизит ли стоимость сопровождения?</span
          >
        </button>
        <div class="question-answer__spoller-item">
          <p class="question-answer__spoller-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita possimus quasi quos
            hic provident facilis laudantium beatae veniam recusandae corporis accusantium iusto
            quae impedit, officiis, voluptatum odit aliquam? Velit dicta molestias rerum cumque
            porro nobis eum cupiditate mollitia. Nulla mollitia asperiores fuga explicabo vero
            aliquid? Soluta voluptas ipsa voluptatum facere ipsum dignissimos consectetur culpa iure
            ipsam. Optio, vel modi! Ipsa autem excepturi fugiat quibusdam omnis est dolores
            perspiciatis minima quia doloremque eveniet praesentium, corrupti architecto
            consectetur! Nostrum, nam iure! Ipsam, maxime corporis. Odio adipisci quaerat doloremque
            molestias iste. Sed debitis obcaecati dolorum cupiditate facilis aspernatur atque enim
            ad quisquam quos.
          </p>
        </div>
      </div>
      <div class="question-answer__spoller">
        <button data-spoller class="btn question-answer__spoller-btn">
          <span class="question-answer__spoller-number">03.</span>
          <span class="question-answer__spoller-title"
            >У меня негативный опыт сотрудничества с аутсорсинговыми компаниями. Ошибки, потеря
            документов, приходилось просить все по три раза , непонятно, к кому обращаться. Почему
            вами будет лучше?</span
          >
        </button>
        <div class="question-answer__spoller-item">
          <p class="question-answer__spoller-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita possimus quasi quos
            hic provident facilis laudantium beatae veniam recusandae corporis accusantium iusto
            quae impedit, officiis, voluptatum odit aliquam? Velit dicta molestias rerum cumque
            porro nobis eum cupiditate mollitia. Nulla mollitia asperiores fuga explicabo vero
            aliquid? Soluta voluptas ipsa voluptatum facere ipsum dignissimos consectetur culpa iure
            ipsam. Optio, vel modi! Ipsa autem excepturi fugiat quibusdam omnis est dolores
            perspiciatis minima quia doloremque eveniet praesentium, corrupti architecto
            consectetur! Nostrum, nam iure! Ipsam, maxime corporis. Odio adipisci quaerat doloremque
            molestias iste. Sed debitis obcaecati dolorum cupiditate facilis aspernatur atque enim
            ad quisquam quos.
          </p>
        </div>
      </div>
      <div class="question-answer__spoller">
        <button data-spoller class="btn question-answer__spoller-btn">
          <span class="question-answer__spoller-number">04.</span>
          <span class="question-answer__spoller-title"
            >В разные периоды объем работ отличается. Можно ли платить только за совершенные
            операции?</span
          >
        </button>
        <div class="question-answer__spoller-item">
          <p class="question-answer__spoller-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita possimus quasi quos
            hic provident facilis laudantium beatae veniam recusandae corporis accusantium iusto
            quae impedit, officiis, voluptatum odit aliquam? Velit dicta molestias rerum cumque
            porro nobis eum cupiditate mollitia. Nulla mollitia asperiores fuga explicabo vero
            aliquid? Soluta voluptas ipsa voluptatum facere ipsum dignissimos consectetur culpa iure
            ipsam. Optio, vel modi! Ipsa autem excepturi fugiat quibusdam omnis est dolores
            perspiciatis minima quia doloremque eveniet praesentium, corrupti architecto
            consectetur! Nostrum, nam iure! Ipsam, maxime corporis. Odio adipisci quaerat doloremque
            molestias iste. Sed debitis obcaecati dolorum cupiditate facilis aspernatur atque enim
            ad quisquam quos.
          </p>
        </div>
      </div>
      <div class="question-answer__spoller">
        <button data-spoller class="btn question-answer__spoller-btn">
          <span class="question-answer__spoller-number">05.</span>
          <span class="question-answer__spoller-title">Как часто вы повышаете цены?</span>
        </button>
        <div class="question-answer__spoller-item">
          <p class="question-answer__spoller-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita possimus quasi quos
            hic provident facilis laudantium beatae veniam recusandae corporis accusantium iusto
            quae impedit, officiis, voluptatum odit aliquam? Velit dicta molestias rerum cumque
            porro nobis eum cupiditate mollitia. Nulla mollitia asperiores fuga explicabo vero
            aliquid? Soluta voluptas ipsa voluptatum facere ipsum dignissimos consectetur culpa iure
            ipsam. Optio, vel modi! Ipsa autem excepturi fugiat quibusdam omnis est dolores
            perspiciatis minima quia doloremque eveniet praesentium, corrupti architecto
            consectetur! Nostrum, nam iure! Ipsam, maxime corporis. Odio adipisci quaerat doloremque
            molestias iste. Sed debitis obcaecati dolorum cupiditate facilis aspernatur atque enim
            ad quisquam quos.
          </p>
        </div>
      </div>
      <div class="question-answer__spoller">
        <button data-spoller class="btn question-answer__spoller-btn">
          <span class="question-answer__spoller-number">06.</span>
          <span class="question-answer__spoller-title"
            >Можно ли  временно «заморозить» договор?</span
          >
        </button>
        <div class="question-answer__spoller-item">
          <p class="question-answer__spoller-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita possimus quasi quos
            hic provident facilis laudantium beatae veniam recusandae corporis accusantium iusto
            quae impedit, officiis, voluptatum odit aliquam? Velit dicta molestias rerum cumque
            porro nobis eum cupiditate mollitia. Nulla mollitia asperiores fuga explicabo vero
            aliquid? Soluta voluptas ipsa voluptatum facere ipsum dignissimos consectetur culpa iure
            ipsam. Optio, vel modi! Ipsa autem excepturi fugiat quibusdam omnis est dolores
            perspiciatis minima quia doloremque eveniet praesentium, corrupti architecto
            consectetur! Nostrum, nam iure! Ipsam, maxime corporis. Odio adipisci quaerat doloremque
            molestias iste. Sed debitis obcaecati dolorum cupiditate facilis aspernatur atque enim
            ad quisquam quos.
          </p>
        </div>
      </div>
      <div class="question-answer__spoller">
        <button data-spoller class="btn question-answer__spoller-btn">
          <span class="question-answer__spoller-number">07.</span>
          <span class="question-answer__spoller-title"
            >Могу ли я рассчитывать на скидки, если буду рекомендовать вас другим компаниям?</span
          >
        </button>
        <div class="question-answer__spoller-item">
          <p class="question-answer__spoller-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita possimus quasi quos
            hic provident facilis laudantium beatae veniam recusandae corporis accusantium iusto
            quae impedit, officiis, voluptatum odit aliquam? Velit dicta molestias rerum cumque
            porro nobis eum cupiditate mollitia. Nulla mollitia asperiores fuga explicabo vero
            aliquid? Soluta voluptas ipsa voluptatum facere ipsum dignissimos consectetur culpa iure
            ipsam. Optio, vel modi! Ipsa autem excepturi fugiat quibusdam omnis est dolores
            perspiciatis minima quia doloremque eveniet praesentium, corrupti architecto
            consectetur! Nostrum, nam iure! Ipsam, maxime corporis. Odio adipisci quaerat doloremque
            molestias iste. Sed debitis obcaecati dolorum cupiditate facilis aspernatur atque enim
            ad quisquam quos.
          </p>
        </div>
      </div>
      <div class="question-answer__spoller">
        <button data-spoller class="btn question-answer__spoller-btn">
          <span class="question-answer__spoller-number">08.</span>
          <span class="question-answer__spoller-title"
            >Бухгалтер может проверить договор, заказать канцелярию или отправить документы? Наш
            бухгалтер занимался этим. Вы так работаете?</span
          >
        </button>
        <div class="question-answer__spoller-item">
          <p class="question-answer__spoller-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita possimus quasi quos
            hic provident facilis laudantium beatae veniam recusandae corporis accusantium iusto
            quae impedit, officiis, voluptatum odit aliquam? Velit dicta molestias rerum cumque
            porro nobis eum cupiditate mollitia. Nulla mollitia asperiores fuga explicabo vero
            aliquid? Soluta voluptas ipsa voluptatum facere ipsum dignissimos consectetur culpa iure
            ipsam. Optio, vel modi! Ipsa autem excepturi fugiat quibusdam omnis est dolores
            perspiciatis minima quia doloremque eveniet praesentium, corrupti architecto
            consectetur! Nostrum, nam iure! Ipsam, maxime corporis. Odio adipisci quaerat doloremque
            molestias iste. Sed debitis obcaecati dolorum cupiditate facilis aspernatur atque enim
            ad quisquam quos.
          </p>
        </div>
      </div>
      <div class="question-answer__spoller">
        <button data-spoller class="btn question-answer__spoller-btn">
          <span class="question-answer__spoller-number">09.</span>
          <span class="question-answer__spoller-title"
            >Налоговый прогноз входит в стоимость сопровождения?</span
          >
        </button>
        <div class="question-answer__spoller-item">
          <p class="question-answer__spoller-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita possimus quasi quos
            hic provident facilis laudantium beatae veniam recusandae corporis accusantium iusto
            quae impedit, officiis, voluptatum odit aliquam? Velit dicta molestias rerum cumque
            porro nobis eum cupiditate mollitia. Nulla mollitia asperiores fuga explicabo vero
            aliquid? Soluta voluptas ipsa voluptatum facere ipsum dignissimos consectetur culpa iure
            ipsam. Optio, vel modi! Ipsa autem excepturi fugiat quibusdam omnis est dolores
            perspiciatis minima quia doloremque eveniet praesentium, corrupti architecto
            consectetur! Nostrum, nam iure! Ipsam, maxime corporis. Odio adipisci quaerat doloremque
            molestias iste. Sed debitis obcaecati dolorum cupiditate facilis aspernatur atque enim
            ad quisquam quos.
          </p>
        </div>
      </div>
      <div class="question-answer__spoller">
        <button data-spoller class="btn question-answer__spoller-btn">
          <span class="question-answer__spoller-number">10.</span>
          <span class="question-answer__spoller-title"
            >В предыдущей компании, как только сработаемся с одним бухгалтером, как  дела передают
            другому, снова приходится проходить этап адаптации и притирки.</span
          >
        </button>
        <div class="question-answer__spoller-item">
          <p class="question-answer__spoller-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita possimus quasi quos
            hic provident facilis laudantium beatae veniam recusandae corporis accusantium iusto
            quae impedit, officiis, voluptatum odit aliquam? Velit dicta molestias rerum cumque
            porro nobis eum cupiditate mollitia. Nulla mollitia asperiores fuga explicabo vero
            aliquid? Soluta voluptas ipsa voluptatum facere ipsum dignissimos consectetur culpa iure
            ipsam. Optio, vel modi! Ipsa autem excepturi fugiat quibusdam omnis est dolores
            perspiciatis minima quia doloremque eveniet praesentium, corrupti architecto
            consectetur! Nostrum, nam iure! Ipsam, maxime corporis. Odio adipisci quaerat doloremque
            molestias iste. Sed debitis obcaecati dolorum cupiditate facilis aspernatur atque enim
            ad quisquam quos.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
