<section class="why-we">
  <div class="container">
    <h2 class="title title-2 why-we__title">Почему мы?</h2>
    <ul class="list why-we__list">
      <li class="why-we__item">
        <span class="why-we__item-number">01</span>
        <p class="why-we__item-content">Финансовая страховка от ошибок бухгалтера на 2 млн. руб.</p>
      </li>
      <li class="why-we__item">
        <span class="why-we__item-number">02</span>
        <p class="why-we__item-content">
          Гарантия покрытия пеней и штрафов от налоговой за наш счет
        </p>
      </li>
      <li class="why-we__item">
        <span class="why-we__item-number">03</span>
        <p class="why-we__item-content">Обслуживание от специалистов с рекомендациями</p>
      </li>
      <li class="why-we__item">
        <span class="why-we__item-number">04</span>
        <p class="why-we__item-content">20 лет на рынке консалтинговых услуг</p>
      </li>
      <li class="why-we__item">
        <span class="why-we__item-number">05</span>
        <p class="why-we__item-content">
          Сэкономили нашим клиентам более 1 млрд. руб. налогов (пеней и штрафов) за 2022 год
        </p>
      </li>
      <li class="why-we__item">
        <span class="why-we__item-number">06</span>
        <p class="why-we__item-content">Юристы и аудиторы в команде</p>
      </li>
    </ul>
  </div>
</section>
