<section class="why-accounting">
  <div class="container">
    <h2 class="title title-2 why-accounting__title">ПОЧЕМУ ВЫБИРАЮТ 1.2.3. Accounting</h2>
    <ul class="list why-accounting__list">
      <li class="why-accounting__list-item">
        <h3 class="title why-accounting__list-item-title">Нацеленность на результат</h3>
        <div class="why-accounting__list-item-wrapper">
          <span class="why-accounting__list-item-number">01.</span>
          <p class="why-accounting__list-item-content">
            Более 1 млрд. рублей сэкономили своим клиентам в 2022 году, разблокировали 30 счетов,
            вышли в ТОП-50 консалтинговых компаний России (по рейтингу RAEX)
          </p>
        </div>
      </li>
      <li class="why-accounting__list-item">
        <h3 class="title why-accounting__list-item-title">Стабильность и высокое качество услуг</h3>
        <div class="why-accounting__list-item-wrapper">
          <span class="why-accounting__list-item-number">02.</span>
          <p class="why-accounting__list-item-content">
            Более 30% клиентов работают с нами более 5 лет. Около 10% клиентов работают с нами с
            самого открытия бизнеса! Эти цифры были бы значительно выше, но за последние три года мы
            удвоили клиентскую базу!
          </p>
        </div>
      </li>
      <li class="why-accounting__list-item">
        <h3 class="title why-accounting__list-item-title">Персональный подход</h3>
        <div class="why-accounting__list-item-wrapper">
          <span class="why-accounting__list-item-number">03.</span>
          <p class="why-accounting__list-item-content">
            Нет «конвейерному принципу». За Вашей компанией закрепляется персональный менеджер и
            конкретные специалисты, которые контролируют весь процесс, а не отдельные его части
          </p>
        </div>
      </li>
      <li class="why-accounting__list-item">
        <h3 class="title why-accounting__list-item-title">
          Разрешаем проблемы с налоговой любой сложности
        </h3>
        <div class="why-accounting__list-item-wrapper">
          <span class="why-accounting__list-item-number">04.</span>
          <p class="why-accounting__list-item-content">
            Закрываем вопросы без Вашего участия (присутствие в ИФНС необходимо только в экстренных
            случаях, выдаем сопровождающего)
          </p>
        </div>
      </li>
      <li class="why-accounting__list-item">
        <h3 class="title why-accounting__list-item-title">Оперативность</h3>
        <div class="why-accounting__list-item-wrapper">
          <span class="why-accounting__list-item-number">05.</span>
          <p class="why-accounting__list-item-content">
            Мы приступаем к решению срочного вопроса СРАЗУ, а не в порядке очереди. Менеджер
            контролирует все срочные поручения
          </p>
        </div>
      </li>
      <li class="why-accounting__list-item">
        <h3 class="title why-accounting__list-item-title">
          Разговариваем на одном языке с контролирующими органами.
        </h3>
        <div class="why-accounting__list-item-wrapper">
          <span class="why-accounting__list-item-number">06.</span>
          <p class="why-accounting__list-item-content">
            В штате - бухгалтеры, аудиторы, юристы, налоговые консультанты, финансовые аналитики
          </p>
        </div>
      </li>
      <li class="why-accounting__list-item">
        <h3 class="title why-accounting__list-item-title">Финансовая выгода</h3>
        <div class="why-accounting__list-item-wrapper">
          <span class="why-accounting__list-item-number">07.</span>
          <p class="why-accounting__list-item-content">
            Экономия 50% на затратах на бухгалтерию. Зарплата и налоги, программное обеспечение,
            содержание рабочих мест, покупка техники, канцелярии, аренда, повышение квалификации
            персонала.
          </p>
        </div>
      </li>
      <li class="why-accounting__list-item">
        <h3 class="title why-accounting__list-item-title">Безупречная репутация</h3>
        <div class="why-accounting__list-item-wrapper">
          <span class="why-accounting__list-item-number">08.</span>
          <p class="why-accounting__list-item-content">
            Мы абсолютно чисты перед законом и клиентами, поэтому уверенно защищаем их интересы. На
            нас нет рычагов давления
          </p>
        </div>
      </li>
      <li class="why-accounting__list-item">
        <h3 class="title why-accounting__list-item-title">Безопасность</h3>
        <div class="why-accounting__list-item-wrapper">
          <span class="why-accounting__list-item-number">09.</span>
          <p class="why-accounting__list-item-content">
            Не имеем доступа к счетам без вашего контроля.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
